*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: rgb(223,223,223);
  background: radial-gradient(circle, rgba(223,223,223,1) 1%, rgba(166,151,155,1) 84%);
  
}

#banner{
  background: rgb(223,223,223);
  background: radial-gradient(circle, rgba(223,223,223,1) 1%, rgba(166,151,155,1) 84%);
  
    display: flex;
    /* display: grid; */
    height: 60px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
     /* grid-template-areas:"er tss rds" ;  */

}
#rd 
{
 grid-area: rds; 
}
#vd
{
  margin-top: 60px;
}
#eer
{
  grid-area: er;
}
#ts
{
  grid-area: tss;
}
#img 
{
display: flex;
align-items: center;
}
#eer 
{
display: flex;
align-items: center;
font-size: larger;
color: black;
text-decoration: none;
}
#ts 
{
display: flex;
align-items: center;
font-size: 30px;
}
#buy
{
  font-size: 80px;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  
}

.buyy
{text-decoration: none;
  color: white;}

.tx {
  text-decoration: none;
  color: black;
}
#rdp{
  bottom: 0px;
  position: fixed;
  height: 10px;
  width: 100%;
  background: rgb(223,223,223);background: radial-gradient(circle, rgba(223,223,223,1) 1%, rgba(166,151,155,1) 84%);
  

}

#tay{
  border-radius: 5px;
  display: flex;
  align-self: center;
}

#taylor{
  display: flex;
  align-items: center;

}

#txt1989 
{
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  
  
}
.tx19
{
  text-decoration: none;
  color: black;
}
#tx1
{
  grid-area: tx11;
  font-size: larger;
}
#tx2
{
 grid-area: tx22;
 font-size: larger;
}
#tx3
{
 grid-area: tx33;
 font-size: larger;
}

#music
{
  font-size: 80px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}

#bio
{
  
  width: 62%;
  font-size: large;
}
#pai
{
 
 width: 100%;
 display: flex;
 justify-content: space-between;
}

.pai_imagem {
  width: 40%;
}

.pai_texto {
  width: 60%;
  height: 310px;
  overflow:auto; 
  padding-left: 5px;
  padding-right: 5px;
  
}

.imagem {
  width: 100%;;
}
#sp
{
  right: 4px;
  
}
#ty
{
  
  
  font-size: large;
  width: 99%;
  height: 400px;
  border: solid 1px black;
}
#paii
{
  display: flex;
  align-items: center;
}


